.container h2 {
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  padding: 80px 80px;
}

.btn {
  color: rgb(253, 250, 251);
  background-color: #ee9417;
  font-weight:bold;
  padding: 15px 26px;
  border-radius: 8px;
  transition: color 0.5s;
  margin: 10px;
  text-shadow: none;
}

.btn:hover {
  background-color: #e0bc1e;
}

.banner .container {
  font-size: 26px;
  color: rgb(251, 251, 251);
  text-shadow: 3px 6px 12px rgb(90, 85, 85);
  justify-content: center;
  align-items: center;
}
